<header>
    <div class="header-container ">
        <div class="row">
            <div class="log">
                <img src="../../../assets/images/logo_resumegiants_white-160x22.png" alt="" srcset="">
            </div>
            <div class="header-menu">
                <div><ul>
                    <li>FREE AI RESUME BUILDER</li>
                    <li>RESUME WRITING <i class="fa-solid fa-chevron-down"></i></li>
                    <li>RESUME EXAMPLES <i class="fa-solid fa-chevron-down"></i></li>
                    <li>BLOGS <i class="fa-solid fa-chevron-down"></i></li>
                </ul></div>
                <div class="loginbutton">
                    <button type="button">LOGIN</button>
                </div>
            </div>
        </div>
    </div>
    <div class="resume-writing-container">
        <div class=" resume-writing-row">
            <div class="left-col">
                <div class="top-text">
<h3>How to write a resume</h3>
<div>
    <img src="../../../assets/images/14-160x160.webp" alt="">
    <p>Make resume writing is 10x easier with ResumeGiants’ free professional and <b>AI-powered Resume Builder</b> and expert tips.</p>
</div>
                </div>
                <div class="bottom-text">
                    <div class="row">
                        <div class="col1">
                            <h3>Write a Resume</h3>
                            <p>How to write a resume
                                Resume format
                                Skills on a resume
                                Education on a resume
                                Experience on a resume
                                Resume objective
                                Resume keywords</p>
                        </div>
                        <div class="col2">
                            <h3>Resume Templates</h3>
                            <p>Simple Resume Templates
                                Modern resume templates
                                Professional resume templates
                                High school student resume templates
                                Google Docs resume templates
                                Microsoft Word resume templates</p>
                                <a href="#">See all resume templates<i class="fa-solid fa-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right-col">
                <img src="../../../assets/images/munich_resume_resumegiants-1040x1456.webp" width="300px" height="300px" alt="">
                <h4>Create and edit your resume online</h4>
                <p>Generate compelling resumes with our
                    user-friendly tool and secure employment quickly.</p>
                    <button type="button">CREATE MY RESUME</button>
            </div>
        </div>
    </div>
</header>